/*general*/
:focus { outline:none; }
body {
    background-color:#fff;
    color:#000000;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
}
input { 
	background-color:#fff;
	color:#000;
	padding:2px;
	border:1px solid #ccc;
}
p { margin:4px 0; }
pre { margin:0; }
a { text-decoration:none; }
a, a:visited { color:#4DBE31; }
a:hover { color:#FCCC68; }
a:active, a:focus { outline:0; }
h1,h2,h3,h4,h5,h6 {
	font-family: verdana, sans-serif;
}
h2 {
    font-size:20px;
    margin:10px 0 4px;
    padding:0;
}
h3 {
    margin:7px 0 2px;
    padding:0;
}
#header {
    background-color:#4B555F;
    height:109px;
}
#header img {
    float:left;
    padding:5px 0;
    border:0;
}
#header h1 {
    float:right;
    margin:0 15px 0 0;
    padding:0;
    color:#fff;
    font-size:30px;
    height:109px;
    line-height:109px;
    vertical-align:center;
    font-weight:bold;
}
#content {
    padding:10px;
}
.tabs { float:left; }
.tabs ul {
    margin:0;
    padding:0;
    height:18px;
}
.tabs ul li {
    display:inline;
}
.tabs ul li a {
    background-color:#ccc;
    color:#888;
    padding:4px;
    border:1px solid #ccc;
}
.tabs ul li a.current {
    background-color:#fff;
    color:#333;
    border-bottom:1px solid #fff;
}
.tabs div {
    padding:4px;
    border:1px solid #ccc;
}
